:root{
    --button-color:#28345a;
    --button-hover-color:#4f74be;
}

body {
    background: #FAF9F6;
    font-family: 'Montserrat', sans-serif;
}
  
  .header {
    display: flex;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
  }
  
.mouseEvent, .keyboardEvent, .formEvent, .focusEvent, .eventDelegation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}

#mouseEvent, #keyboardEvent, #formEvent, #focusEvent, #eventDelegation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  #mouseButton, .eventDelegationButtons {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin: 5px;
}

#mouseButton:hover, .eventDelegationButtons:hover {
    background-color: var(--button-hover-color);
}

/* .keyboardEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
} */

/* #keyboardEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .formEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
} */

/* #formEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#keyInput {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
}

#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myForm input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
}
#myForm input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#myForm input[type="submit"]:hover {
    background-color: var(--button-hover-color)
}
#formOutput, .eventDelegationMessages {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    min-height:100px;
}

#myForm p,  #firstButtonMessage, #secondButtonMessage, #thirdButtonMessage, #fourthButtonMessage, #fifthButtonMessage {
    display: flex;
    justify-content: center;
}

#formOutput,  #firstButtonMessage, #secondButtonMessage, #thirdButtonMessage, #fourthButtonMessage, #fifthButtonMessage {
    text-align: center;
    word-break: break-all;
}

#focusInput {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
}