body {
    background: #FAF9F6;
    font-family: 'Montserrat', sans-serif;
}
  
  .header {
    display: flex;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
  }
  
.mouseEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}

#mouseEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  #mouseButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mouseButton:hover {
    background-color: #0056b3;
}

.keyboardEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#keyboardEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
}